header {
    padding-top: 7rem;
    overflow: hidden;
}

.hero {
    /*background-image: url(../../assets/wallpaper.jpg)*/
    background-size: cover;
}

.header__container {
    height: 100%;
    text-align: center;
    position: relative;
}

.me {
    background: linear-gradient(var(--color-ac-orange), transparent);
    width: 22rem;
    height: 30rem;
    /*position: absolute;*/
    left: calc(50% - 11rem);
    margin: 2rem;
    border-radius: 12rem 12rem 0 0;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px
}

.me img {
    transform: scale(1.5);

}

.me::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-ac-salmon);
}

.App-header {
    justify-content: flex-start;
}

/* ==== CTA ==== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* === Media Queries (medium devices) === */

@media screen and (max-width: 1024px) {
    header {
        height: 68ch;
    }
}

/* === Media Queries (small devices) === */

@media screen and (max-width: 600px) {
    header {
        height: 100vh
    }
}